p.price::before  { content: '£'; }
p.stock::after   { content: ' in store'; }
p.vendor::before { content: 'Sold by '; }

html { display: block; padding: 0; margin: 0; width: 100%; }
body { display: block; padding: 1em; width: 90%; width: calc(100% - 2em); margin: 0; background: #adf; }

#categories { margin: 0; display: block; padding: 0; }
#categories li { background: #bef; display: inline-block; margin: 0; border: 1px solid black; border-bottom: none; border-right: none; padding: 1em; transition: background .5s; }
#categories li:hover { background: yellow; cursor: pointer; transition: 0s; }
#categories li.active { background: white; cursor: default; }
#categories li:last-of-type { border-right: 1px solid black; }

#categories li { border-radius: .5em .5em 0 0; }

#products { background: white; margin: 0; display: block; width: 90%; width: calc(100% - 2em); border: 1px solid black; padding: 1em; position: relative; 
    border-radius: 0 .5em .5em .5em;
    }

#products section,
#products h2 { margin: 0; }

#products > h2 { display: none; }
#products > h2.loading { display: block; font-size: 100%; font-weight: normal; }

#products .product { display: inline-block; position: relative; width: 16em; padding: 2em; margin: 0; vertical-align: top; }

#products .product:hover { background: #fec; }

#products .product .addtocart { 
    visibility: hidden; 
    display: block; 
    position: absolute;
    bottom: 2em; 
    right: 2em;
    font-size: 80%;
}

#products .product h2 { display: inline; margin-right: 1em; }
#products .product h2 + p.price { display: inline; }

#products .product.available:hover .addtocart { visibility: visible; }

#cart { 
    display: block;
    position: absolute; 
    top: 1em;
    right: 1em;
    padding: .5em 1em 3em 1em;
    transition: 1s;
    border-radius: .5em;
    border: 1px solid rgba(0,0,0,0);
}

#cart:hover { 
    background: white;
    border: 1px solid black;
}

#cart button { 
    opacity: 0; 
    transition: 1s; 
    display: block;
    position: absolute; 
    bottom: 1em;
    right: 1em;
    font-size: 80%; 
}

#cart p.count { display: inline; }
#cart p.count:after { display: inline; content: ' item in the cart'; }

#cart p.price { display: inline; }
#cart p.price:before { display: inline; content: ', total: £'; }

#cart:hover button { 
    opacity: 1; 
}

#cart.empty { padding: .5em 1em; }
#cart.empty p.count { }
#cart.empty p.count:after { display: inline; content: 'Cart empty'; }
#cart.empty p.price { display: none; }
#cart.empty:hover button { 
    opacity: 0; 
}

template { display: none; }
